{% load staticfiles %}
<head>
	<title>{{ title }}</title>
	<link rel="icon" href="{% static 'intranet/img/iiits-logo.png' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'intranet/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'intranet/css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'intranet/css/font-awesome.min.css' %}">
	<script src="{% static 'intranet/js/jquery.min.js' %}"></script>
	<script src="{% static 'intranet/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'intranet/js/script.js' %}"></script>

</head>
